<html>
<body>
<pre>
{{cloneCommand}}

{{#with gav}}
&lt;dependency>
    &lt;groupId>{{groupId}}&lt;/groupId>
    &lt;artifactId>{{artifactId}}&lt;/artifactId>
    &lt;version>{{version}}&lt;/version>
&lt;/dependency>
{{/with}}
</pre>
{{#if url}}
    <a href="{{url}}">{{url}}</a>
{{/if}}
</body>
</html>
